h2 {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}
.about {
  padding: 125px 0px 0px 0px;
  background-color: getColor('background-light-pink');
  &__article {
    padding: 46px 0px 0px 0px;
    font-family: getFont('font-main');
    font-size: 12px;
    font-weight: getFontWeight('font-medium');
    line-height: 1.62;
    color: getColor('dark-font');
    max-width: 220px;
    margin: 0 auto;
  }
  &__cow-image {
    display: block;
    margin: 0 auto;
  }
  &__milk-image {
    background-image: url('../images/about/milk-bg-mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    &__milk-image {
      background-image: url('../images/about/milk-bg-mobile@2x.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
.title__label {
  display: block;
  font-family: getFont('font-header');
  font-size: 18px;
  color: getColor('secondary-pink');
  text-transform: uppercase;
  max-width: 200px;
  margin: 0 auto;
}
.section__title {
  text-align: center;
  font-family: getFont('font-header');
  font-size: 34px;
  font-weight: getFontWeight('font-regular');
  line-height: 1.14;
  color: getColor('accent');
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  max-width: 200px;
  padding-top: 15px;
}
.cow-image {
  margin: 0 auto;
}
.article {
  &__intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: getColor('dark-font');
    padding-bottom: 47px;
  }
  &__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: getColor('primary-gray');
    &--last {
      padding-top: 10px;
      padding-bottom: 17px;
    }
  }
}
.button-read {
  font-size: 14px;
  font-weight: getFontWeight('font-bold');
  color: getColor('accent');
  &__icon {
    fill: getColor('accent');
    padding-left: 14px;
    stroke: getColor('accent');
    stroke-width: 2px;
    padding-top: 1.5px;
  }
  &--about {
    background-color: getColor('background-white');
    border: none;
    border-radius: 22px;
    padding: 10px 37px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: #ecebeb;
      transform: translate(10%);
    }
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding: 130px 0px 0px 0px;
    &__article {
      padding-top: 50px;
      font-size: 14px;
      line-height: 1.76;
      color: getColor('dark-font');
      max-width: 340px;
    }
    &__cow-image {
      max-width: 340px;
      margin: 0;
    }
    &__milk-image {
      background-image: none;
    }
  }
  .content-grid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    gap: 17px;
  }
  .title__label {
    font-size: 26px;
    max-width: 290px;
  }
  .section__title {
    font-size: 48px;
    max-width: 435px;
    padding-top: 16px;
  }
  .cow-image {
    margin: 0;
  }
  .article {
    &__intro {
      padding-bottom: 49px;
    }
    &__main {
      letter-spacing: 0.04em;
      &--last {
        padding-top: 10px;
        padding-bottom: 62px;
      }
    }
  }
  .button-read {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding: 125px 0px 0px 0px;
    &__article {
      padding-top: 51px;
      font-size: 16px;
      max-width: 463px;
    }
    &__cow-image {
      max-width: 516px;
    }
    &__milk-image {
      background-image: url('../images/about/milk-bg-desktop.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      background-position-y: 150px;
    }
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      &__milk-image {
        background-image: url('../images/about/milk-bg-desktop@2x.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  .content-grid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 55px;
    gap: 53px;
  }
  .title__label {
    font-size: 30px;
    max-width: 351px;
  }
  .section__title {
    font-size: 58px;
    max-width: 534px;
  }
  .cow-image {
    margin: 0;
  }
  .article {
    &__intro {
      padding-bottom: 39px;
    }
    &__main {
      font-size: 14px;
      line-height: 1.94;

      &--last {
        padding-top: 10px;
        padding-bottom: 45px;
      }
    }
  }
}
