h2 {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}
.about {
  padding: 125px 0px 0px 0px;
  background-color: getColor("background-light-pink");
  &__article {
    padding: 46px 0px 0px 0px;
    font-family: getFont("font-main");
    font-size: 12px;
    font-weight: getFontWeight("font-medium");
    line-height: 1.62;
    color: getColor("dark-font");
    max-width: 220px;
    margin: 0 auto;
  }
  &__cow-image {
    display: block;
    margin: 0 auto;
  }
  &__milk-image {
    background-image: url("/public/images/about/milk-bg-mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    &__milk-image {
      background-image: url("/public/images/about/milk-bg-mobile@2x.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
.title__label {
  display: block;
  font-family: getFont("font-header");
  font-size: 18px;
  color: getColor("secondary-pink");
  text-transform: uppercase;
  max-width: 200px;
  margin: 0 auto;
}
.section__title {
  text-align: center;
  font-family: getFont("font-header");
  font-size: 34px;
  font-weight: getFontWeight("font-regular");
  line-height: 1.14;
  color: getColor("accent");
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  max-width: 200px;
  padding-top: 15px;
}
.cow-image {
  margin: 0 auto;
}
.article {
  &__intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: getColor("dark-font");
    padding-bottom: 47px;
  }
  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    color: getColor("primary-gray");
    &--last {
      padding-top: 10px;
      padding-bottom: 17px;
    }
    &--modal {
      padding-top: 10px;
      padding-bottom: 0px;
    }
  }
  &__title {
    display: block;
    font-family: getFont("font-header");
    font-weight: getFontWeight("font-regular");
    font-size: 20px;
    letter-spacing: 0.04rem;
    color: getColor("accent");
    margin: 0 auto;
    padding-bottom: 30px;
    &--subtitle {
      padding: 20px 0 20px 0;
    }
  }
  &__list {
    list-style: none;
  }
  &__item {
    padding-bottom: 10px;
    font-family: getFont("font-main");
    font-size: 14px;
    font-weight: getFontWeight("font-medium");
    line-height: 1.5;
    color: getColor("primary-gray");
    &::before {
      content: url("/public/images/cliparts-ice-cream_ikony_listy_mala.png");
      display: inline-block;
      width: 20px;
      height: 20px;
      background-size: contain;
      margin-right: 20px;
    }
  }
}
.modal__article {
  font-family: getFont("font-main");
  font-size: 14px;
  font-weight: getFontWeight("font-medium");
  line-height: 1.62;
  color: getColor("dark-font");
}
.button-read {
  font-size: 14px;
  font-weight: getFontWeight("font-bold");
  color: getColor("accent");
  &__icon {
    fill: getColor("accent");
    padding-left: 14px;
    stroke: getColor("accent");
    stroke-width: 2px;
    padding-top: 1.5px;
  }
  &--about {
    background-color: getColor("background-white");
    border: none;
    border-radius: 22px;
    padding: 10px 37px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: #ecebeb;
      transform: translate(10%);
    }
  }
}
.backdrop {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  background-color: hsla(0, 0%, 0%, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scaleY(0);
}
.backdrop__modal {
  padding: 40px;
  box-sizing: border-box;
  width: 90vw;
  height: 90vh;
  margin: auto;
  position: relative;
}
.modal {
  background-color: getColor("background-light-pink");
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 10px rgba(218, 8, 88, 0.2);
  border-radius: 10px;
  cursor: initial;
  opacity: 1;
  transform: scaleY(1);
  overflow-x: hidden;
}
.modal__modal-x {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 30px;
  height: 30px;
  padding: 8px;
}
.modal-x {
  border-radius: 50%;
  background-color: getColor("background-light-pink");
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: back-ground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: getColor("accent");
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }
}
.textarea__input {
  width: 100%;
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
  background-color: getColor("background-white");
  border: none;
  outline: none;

  &::placeholder {
    font-size: 12px;
    color: rgba(117, 117, 117, 0.5);
    letter-spacing: 0.01em;
  }
}
.textarea__title {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 130px 0px 0px 0px;
    &__article {
      padding-top: 50px;
      font-size: 14px;
      line-height: 1.76;
      color: getColor("dark-font");
      max-width: 340px;
    }
    &__cow-image {
      max-width: 340px;
      margin: 0;
    }
    &__milk-image {
      background-image: none;
    }
  }
  .content-grid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    gap: 17px;
  }
  .title__label {
    font-size: 26px;
    max-width: 290px;
  }
  .section__title {
    font-size: 48px;
    max-width: 435px;
    padding-top: 16px;
  }
  .cow-image {
    margin: 0;
  }
  .article {
    &__intro {
      padding-bottom: 49px;
    }
    &__main {
      letter-spacing: 0.04em;
      &--last {
        padding-top: 10px;
        padding-bottom: 62px;
      }
    }
  }
  .button-read {
    font-size: 16px;
  }
  .backdrop__modal {
    padding: 40px;
    width: 70vw;
    height: 80vh;
  }
  .modal__article {
    padding: 30px 0;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding: 125px 0px 0px 0px;
    &__article {
      padding-top: 51px;
      font-size: 16px;
      max-width: 463px;
    }
    &__cow-image {
      max-width: 516px;
    }
    &__milk-image {
      background-image: url("/public/images/about/milk-bg-desktop.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      background-position-y: 150px;
    }
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      &__milk-image {
        background-image: url("/public/images/about/milk-bg-desktop@2x.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  .content-grid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 55px;
    gap: 53px;
  }
  .title__label {
    font-size: 30px;
    max-width: 351px;
  }
  .section__title {
    font-size: 58px;
    max-width: 534px;
  }
  .cow-image {
    margin: 0;
  }
  .article {
    &__intro {
      padding-bottom: 39px;
    }
    &__main {
      font-size: 14px;
      line-height: 1.94;

      &--last {
        padding-top: 10px;
        padding-bottom: 45px;
      }
    }
  }
  .backdrop__modal {
    padding: 45px;
    width: 65vw;
    height: 80vh;
  }
  .modal__article {
    padding: 40px 0;
  }
}
