.gallery {
  height: auto;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    getColor('background-light-pink') 40%,
    getColor('background-white') 0%
  );
  &__img {
    margin: 0 auto;
  }
}

.js-scroll {
  opacity: 0;
  transition: opacity 1s;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
