.section--header {
  background-color: getColor('primary-pink');
  overflow: hidden;
}

.hero-header {
  padding-top: 6px;
  position: relative;
  height: 550px;
}

.navigation {
  display: none;
}

.hero-header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-header__link {
  &--burger {
    color: getColor('accent');
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button__tablet {
  display: none;
}

.hero-header__svg {
  fill: currentColor;
}

.hero-header__img {
  position: absolute;
  z-index: 0;

  &--icecream {
    right: 12px;
    bottom: 0;

    &::after {
      content: '';
      width: 346px;
      height: 344px;
      position: absolute;
      bottom: 71px;
      right: -94px;
      border-radius: 50%;
      background: getColor('secondary-pink');
      z-index: -1;
      animation-name: changeBgColor;
      animation-duration: 5000ms;
    }
  }

  &--milk {
    display: none;
  }

  &--woman {
    display: none;
  }
}

@keyframes changeBgColor {
  0% {
    background: getColor('primary-pink');
  }

  100% {
    background: getColor('secondary-pink');
  }
}

.hero-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-header__bottom {
  position: absolute;
  z-index: 2;
  bottom: 160px;
}

.hero-header__title-div {
  width: 218px;
  margin-bottom: 19px;
}

.hero-header__h1 {
  font-family: getFont('font-header');
  font-weight: getFontWeigh('font-regular');
  font-size: 48px;
  line-height: 0.97;
  text-transform: uppercase;
  color: getColor('accent');
}

.hero-header__h2 {
  font-family: getFont('font-header');
  font-weight: getFontWeight('font-regular');
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: getColor('background-white');
}

.hero-header__buttons {
  display: flex;
}

.button__header {
  height: 24px;
  font-weight: getFontWeight('font-regular');
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
}

.button__header--accent {
  width: 62.4px;
  margin-right: 8px;
}

.button__header--white {
  width: 82.8px;
  border-radius: 20px;
}

.numbers {
  display: none;
}

.hero-header__text-div {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-header {
    height: 399px;
    padding-top: 37px;
  }

  .button__tablet {
    display: flex;
    min-width: 160px;
  }

  .hero-header__img {
    &--icecream {
      right: 247px;
    }

    &--icecream::after {
      width: 324px;
      height: 322px;
      bottom: 46px;
      right: -110px;
    }

    &--milk {
      display: block;
      left: 0;
      bottom: 28px;
    }

    &--woman {
      display: block;
      bottom: 0;
      right: 0;
    }
  }

  .hero-header__bottom {
    bottom: 173px;
  }

  .hero-header__title-div {
    width: 162px;
    margin-bottom: 20px;
  }

  .hero-header__h1 {
    font-size: 34px;
    line-height: 0.9;
  }

  .hero-header__h2 {
    font-size: 22px;
  }

  .numbers {
    display: block;
    position: absolute;
    right: 10px;
    top: 96px;
    bottom: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;
  }

  .numbers__item {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-top: 2px;
    z-index: 2;

    &--16 {
      padding-right: 10px;
    }

    &--23 {
      padding-right: 8px;
    }
  }

  .numbers__number {
    font-family: getFont('font-header');
    font-weight: getFontWeight('font-regular');
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: getColor('accent');

    &::after {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 50%;
      background: getColor('background-white');
      z-index: -1;
    }
  }

  .numbers__text {
    font-family: getFont('font-main');
    font-weight: getFontWeight('font-regular');
    font-size: 8px;
    line-height: 10px;
    color: getColor('background-white');
  }

  .hero-header__text-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
    margin-bottom: 34px;
    margin-left: 120px;
    margin-top: 205px;
    position: relative;
    z-index: 2;
  }

  .hero-header__text {
    width: 114px;
    font-family: getFont('font-main');
    font-weight: getFontWeight('font-regular');
    font-size: 8px;
    line-height: 1.5;
    color: getColor('background-white');
  }

  .hero-header__arrow-button {
    background-color: getColor('background-white');
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #ecebeb;
      box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }
  }

  .hero-header__icon {
    width: 15px;
    height: 15px;
    fill: getColor('accent');
  }
}

@media screen and (min-width: 1280px) {
  .hero-header {
    height: 665px;
  }

  .button__tablet {
    margin-right: 69px;
  }

  .navigation {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  .navigation__link {
    text-decoration: none;
    font-family: getFont('font-main');
    font-style: normal;
    font-weight: getFontWeight('font-bold');
    font-size: 16px;
    line-height: 1.31;
    color: getColor('background-white');
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: getColor('accent');
    }
  }

  .hero-header__img {
    &--icecream {
      right: 450px;
    }

    &--icecream::after {
      width: 538px;
      height: 538px;
      bottom: 75px;
      right: -183px;
    }

    &--milk {
      left: 31px;
      bottom: 45px;
    }

    &--woman {
      right: 63;
    }
  }

  .hero-header__bottom {
    bottom: 292px;
    left: 69px;
  }

  .hero-header__title-div {
    width: 277px;
    margin-bottom: 25px;
  }

  .hero-header__h1 {
    font-size: 58px;
  }

  .hero-header__h2 {
    font-size: 38px;
  }
  .button__header {
    font-size: 14px;
    line-height: 1.29;
    height: 40px;
  }

  .button__header--accent {
    margin-right: 15px;
    width: 104px;
  }

  .button__header--white {
    width: 138px;
  }

  .hero-header__text-div {
    gap: 20px;
    margin-bottom: 56px;
    margin-left: 249px;
    margin-top: 398px;
  }

  .hero-header__text {
    width: 200px;
    font-size: 14px;
    line-height: 1.4;
  }

  .hero-header__arrow-button {
    width: 26px;
    height: 26px;
  }

  .hero-header__icon {
    width: 9px;
    height: 9px;
  }

  .numbers {
    gap: 18px;
    right: 69px;
    top: 160px;
    bottom: 341px;
  }

  .numbers__item {
    &--16 {
      padding-right: 18px;
    }

    &--23 {
      padding-right: 18px;
    }
  }

  .numbers__number {
    font-size: 46px;
    line-height: 1.15;

    &::after {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .numbers__text {
    font-size: 14px;
    line-height: 1.29;
  }
}

// Mobile menu

.menu {
  background: getColor('background-menu');
  width: 78.13%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

.menu.js-menu-container {
  display: none;
}

.menu.js-menu-container.is-open {
  display: block;
}

.menu__button-close-div {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 28px;
  display: flex;
  justify-content: flex-end;
}

.menu__button-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu__svg {
  fill: getColor('background-white');
}

.menu__button-div {
  padding: 0 21px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.button__menu {
  width: 100%;
  height: 44px;
  border-radius: 22px;
  font-weight: getFontWeight('font-bold');
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.button__text {
  height: 44px;
  display: flex;
  align-items: center;
  text-align: center;

  &--menu {
    width: 90.7px;
  }

  &--main {
    width: 69.43px;
  }
}

.button__svg {
  fill: currentColor;
  stroke: currentColor;
  width: 20px;
  height: 11px;
  stroke-width: 2px;
  margin-top: 1.5px;

  &--menu {
    width: 10px;
    height: 10px;
  }
}

.menu__item {
  border-top: 1px solid #e18298;
  height: 42px;
  padding-left: 21px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu__item:nth-of-type(5) {
  border-bottom: 1px solid #e18298;
}

.menu__link {
  font-weight: getFontWeight('font-bold');
  font-size: 14px;
  line-height: 1.29;
  color: getColor('background-white');
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

@media screen and (min-width: 768px) {
  .menu {
    width: 33%;
  }

  .hero-header__right {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  .button__text--menu {
    width: 80.72px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-header__menu {
    display: none;
  }
}
