.modal-buy {
  line-height: 1;
  padding: 20px;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
  &__window {
    padding: 10% 3.5%;
    position: relative;
    background-color: getColor(background-light-pink);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    cursor: auto;
    z-index: 3;
  }
  &__close {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 8px;
    right: 8px;
    border: 0;
    background-color: transparent;
    color: getColor(background-menu);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: getColor(accent);
      transform: scale(1.2);
    }
  }
  &__icon {
    fill: currentColor;
  }
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.product-buy {
  font-family: getFont(font-main);
  &__box {
    max-width: 80%;
    margin: 0 auto;
  }
  &__container {
    margin-bottom: 1rem;
  }
  &__title {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 20px;
    font-weight: getFontWeight(font-regular);
    font-family: getFont(font-header);

    color: getColor(accent);
    &__contact {
      margin-bottom: 1rem;
    }
  }
  &__description {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 18px;
    font-weight: getFontWeight(font-bold);
    color: getColor(primary-pink);
  }
  &__label {
    font-size: 16px;
    color: getColor(primary-gray);
    font-weight: getFontWeight(font-medium);
    &--flavor {
      display: block;
      margin: 0 auto 1rem auto;
      max-width: 90px;
      position: relative;
      &::before {
        content: '';
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -55px;
        width: 50px;
        height: 20px;
        background-color: #d4d4d4;
        border-radius: 50px;
      }
      &::after {
        content: '';
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -52px;
        width: 17px;
        height: 17px;
        border-radius: 10px;
        background-color: #6c788a;
        transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1),
          background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    &--contact {
      display: block;
    }
  }
  &__input {
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: rgba(0, 50, 93, 0.25) 0px 2px 3px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    &:focus-within {
      box-shadow: getColor(primary-pink) 0px 2px 3px -1px, getColor(primary-pink) 0px 1px 3px -1px;
    }
    &--weight {
      margin: 0 auto;
      display: block;
    }
    &--flavor {
      display: none;
      &:checked + label::after {
        left: -25px;
        background-color: getColor(accent);
      }
    }
    &--contact {
      margin-bottom: 1rem;
      display: block;
      min-width: 100%;
      font-size: 16px;
      color: black;
    }
  }
  &__send-btn {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    font-size: 20px;
    font-weight: getFontWeight(font-bold);
    font-family: getFont(font-main);
    color: white;
    background-color: getColor(accent);
    border: 0.5px solid getColor(accent);
    border-radius: 2rem;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }
  &__contact-title {
    display: block;
    margin-bottom: 0.5rem;
  }
}

@media screen and(min-width:480px) {
  .modal-buy {
    &__window {
      padding: 35px 20px;
    }
  }
}
