.modal-buy {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  &__window {
    padding: 3.5%;
    position: relative;
    background-color: getColor(background-light-pink);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    cursor: auto;
    z-index: 3;
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: transparent;
    color: getColor(background-menu);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: getColor(accent);
      transform: scale(1.2);
    }
  }
  &__icon {
    fill: currentColor;
  }
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.product-buy {
  font-family: getFont(font-main);

  &__container {
    margin-bottom: 1rem;
    &--flavor {
      padding-left: 52px;
    }
  }
  &__title {
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 24px;
    font-weight: getFontWeight(font-regular);
    font-family: getFont(font-header);
    text-transform: uppercase;
    color: getColor(accent);
  }
  &__description {
    margin-bottom: 0.5rem;
    font-size: 20px;
    font-weight: getFontWeight(font-bold);
    color: getColor(primary-pink);
  }
  &__label {
    font-size: 18px;
    margin-bottom: 0.5rem;
    color: getColor(primary-gray);
    font-weight: getFontWeight(font-medium);
    &--flavor {
      display: inline-block;
      position: relative;
      margin-right: 5rem;
      &::before {
        content: '';
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -55px;
        width: 50px;
        height: 20px;
        background-color: #a6abb3;
        border-radius: 50px;
      }
      &::after {
        content: '';
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        bottom: 0;
        left: -52px;
        width: 17px;
        height: 17px;
        border-radius: 10px;
        background-color: #6c788a;
        transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1),
          background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    &--contact {
      display: block;
    }
  }
  &__input {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    border-radius: 0.5rem;
    &:focus-within {
      border: 1px solid getColor(accent);
    }
    &--flavor {
      display: none;
      &:checked + label::after {
        left: -25px;
        background-color: getColor(accent);
      }
    }
    &--contact {
      display: block;
      min-width: 100%;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.8);
    }
  }
  &__send-btn {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    font-size: 20px;
    font-weight: getFontWeight(font-bold);
    font-family: getFont(font-main);
    color: getColor(accent);
    border: 0.5px solid getColor(accent);
    border-radius: 1rem;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }
}
