@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews {
  width: 100%;
  padding: 0;
  margin-block: 4.8rem 10.3rem;

  &__slide {
    @include flex-column;
    flex-wrap: wrap;
    gap: 1.1rem;
  }
  &__slide__track {
    position: relative;
    display: flex;
    justify-content: center;
    height: 453px;
    width: 100%;
  }
  &__slide__item {
    position: absolute;
    @include flex-column;
    gap: 1.8rem;
    width: 17rem;
    transition: all 1s ease-out;
    &__image {
      width: 85px;
      height: 85px;
      transition: transform 0.5s ease-out;
      &:hover {
        transform: scale(1.2);
      }
    }
    &__content {
      @include flex-column;
      padding: 2.6rem 4rem 3.3rem 3.7rem;

      background-color: #fafafa;
      user-select: none;
      transition: all 1s ease-out;

      &__comment {
        position: relative;
        z-index: 1;

        font-family: getFont(font-main);
        font-weight: getFontWeight(font-medium);
        font-size: 12px;
        line-height: 255%;
        text-align: center;

        background: repeating-linear-gradient(#fafafa, #fafafa 29px, #e1e1e1 29px, #e1e1e1 30px);
        transition: all 1s ease-out;
      }
      &__comment::before {
        content: '❜❜';
        position: absolute;
        left: -7px;
        top: 0.8rem;
        z-index: -1;

        color: #e1e1e1;
        letter-spacing: -8px;
        font-size: 130px;

        transition: 0.5s ease-in-out;
      }
    }
  }

  &__slide__nav {
    @include flex-column;
    gap: 1.09rem;

    transition: all 0.5s ease-out;

    &__person {
      font-family: getFont(font-main);
      font-weight: getFontWeight(font-medium);
      font-size: 14px;
      line-height: 186%;

      text-align: center;
    }

    &__indicator {
      margin-top: 1rem;
      display: flex;
      gap: 1.2rem;
      padding: 0;

      list-style: none;
      transition: all 0.5s ease-out;
      &__item {
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.icon {
  &--3elipse {
    width: 2rem;
    height: 0.3rem;
    fill: getColor(accent);
    transition: 0.5s ease-in-out;
  }
  &--home {
    width: 1rem;
    height: 1rem;
    fill: getColor(accent);
    transition: fill 0.5s ease-in-out;
  }

  &--elipse {
    width: 0.8rem;
    height: 0.8rem;
    fill: #d9d9d9;
    transition: fill 0.5s ease-in-out;
    &2 {
      width: 0.8rem;
      height: 0.8rem;
      fill: #d9d9d9;
      transition: fill 0.5s ease-in-out;
    }
  }
}
@media screen and (min-width: 767px) {
  .reviews {
    &__slide__track {
      height: 273px;
    }
    &__slide__item {
      width: 38.576rem;

      &__content {
        padding: 1.8rem 3.2rem 1.7rem 2.4rem;
        height: 9.9rem;
      }

      &__content__comment {
        width: 27.879rem;
        height: 6.4rem;
        font-size: 14px;
        line-height: 216%;
        letter-spacing: 0.04em;
      }

      &__content__comment::before {
        left: -38px;
      }
    }
    &__slide__nav {
      gap: 0.848rem;

      &__indicator {
        margin-top: 0.667rem;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .reviews {
    &__slide__item {
      width: 100%;

      &__content {
        width: 58.121rem;
        padding: 1.8rem 3.2rem 1.7rem 2.4rem;
        height: 9.9rem;
      }

      &__content__comment {
        width: 49.818rem;
        height: 4.485rem;

        font-size: 16px;
        line-height: 186%;
      }

      &__content__comment::before {
        left: -38px;
      }
    }
  }
}
