@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews {
  width: 100%;
  padding: 0;
  margin-inline: 0;
  margin-block: 4.8rem 10.3rem;

  &__slide {
    @include flex-column;
    flex-wrap: wrap;
    gap: 1.1rem;
  }
  &__slide__item {
    @include flex-column;
    gap: 1.8rem;

    &__content {
      width: 17rem;
      padding: 2.6rem 4rem 3.3rem 3.7rem;

      background-color: #fafafa;

      &__comment {
        position: relative;
        font-family: getFont(font-main);
        font-weight: getFontWeight(font-medium);

        font-size: 12px;
        line-height: 255%;
        text-align: center;
        background: repeating-linear-gradient(#fafafa, #fafafa 29px, #e1e1e1 29px, #e1e1e1 30px);
      }
      &__comment::before {
        content: '❜❜';
        position: absolute;
        left: -9px;
        top: 0.8rem;

        letter-spacing: -8px;
        -webkit-text-fill-color: #6d6d6d32;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: getColor(dark-font);
        font-size: 130px;
      }
    }
  }

  &__slide__nav {
    @include flex-column;
    gap: 1.09rem;
    &__person {
      font-family: getFont(font-main);
      font-weight: getFontWeight(font-medium);
      font-size: 14px;
      line-height: 186%;

      text-align: center;
    }

    &__indicator {
      margin-top: 1rem;
      display: flex;
      gap: 1.2rem;
      padding: 0;

      list-style: none;
    }
  }
}
.icon {
  &--3elipse {
    width: 2rem;
    height: 0.3rem;
    fill: getColor(accent);
  }
  &--home {
    width: 1rem;
    height: 1rem;
    fill: getColor(accent);
  }

  &--elipse {
    width: 0.8rem;
    height: 0.8rem;
    fill: #d9d9d9;
  }
}
