$decorative-font: "Titan One";
$main-font: "DM Sans";

/* DM Sans weight 400, 500, 700 */

$light-pink: #FFF5F6;
$main-pink: #FFB8CA;
$medium-pink: #FFA5BA;
$pink-menu: #E17992;

$raspberry-accent: #D41443;


$white: #FFFFFF;
$gray: #907E82;
$black: #000000;

$sand: #F0D1A5;

$green: #C2E297;