//font families used in figma
$font-header: 'Titan One';
$font-main: 'DM Sans';

//font weight used in figma
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

//colors used in figma
$primary-pink: #ffb8ca;
$secondary-pink: #ffa5ba;

$accent: #d41443;

$background-pink: #e17992;
$bacground-light-pink: #fff5f6;
$background-white: #ffffff;

$font: #000000;

$primary-gray: #907e82;
$primary-sand: #f0d1a5;
$primary-green: #c2e297;
