/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

//importowanie partiali
@import 'variables';
@import 'common';

@import 'setup';
@import 'hero';
@import 'products';
@import 'about';
@import 'advantages';
@import 'gallery';
@import 'reviews';
@import 'contacts';
@import 'footer';