$decorative-font: 'Titan One';
$main-font: 'DM Sans';

/* DM Sans weight 400, 500, 700 */

$light-pink: #fff5f6;
$main-pink: #ffb8ca;
$medium-pink: #ffa5ba;
$pink-menu: #e17992;

$raspberry-accent: #d41443;

$white: #ffffff;
$gray: #907e82;
$black: #000000;

$sand: #f0d1a5;

$green: #c2e297;
