<section id="about" class="about">
  <div class="about__milk-image">
    <div class="container">
      <span class="title__label">tradition and love</span>
      <h2 class="section__title">how it's made?</h2>
      <div class="content-grid">
        <div>
          <picture class="about__cow-image">
            <source
              srcset="/public/images/about/cow/cow-mobile.png 1x, /public/images/about/cow/cow-mobile@2x.png 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="/public/images/about/cow/cow-tablet.png 1x, /public/images/about/cow/cow-tablet@2x.png 2x"
              media="(min-width: 768px) and (max-width:1279px)"
            />
            <source
              srcset="
                /public/images/about/cow/cow-desktopv2.png 1x,
                /public/images/about/cow/cow-desktopv2@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              class="cow-image"
              src="/public/images/about/cow/cow-mobile.png"
              alt="Photo cow with jar of milk"
            />
          </picture>
        </div>
        <article class="about__article">
          <p class="article__intro">
            Step into our ice cream laboratory, where art meets science. From handcrafted recipes to cutting-edge techniques, we create frozen masterpieces that will leave you in awe of our passion for flavor perfection.
          </p>
          <p class="article__main">
            Step into our ice cream laboratory, where art meets science. From handcrafted recipes to cutting-edge techniques, we create frozen masterpieces that will leave you in awe of our passion for flavor perfection.
          </p>
          <p class="article__main article__main--last">Indulge in the extraordinary. Treat yourself to our edible masterpiece.</p>
          <button type="button" class="button button-read button-read--about" about-data-modal-open>
            Read more
            <svg class="button-read__icon" width="25" height="28">
              <use href="/public/images/svg/icons.svg#icon-chevron"></use>
            </svg>
          </button>          
        </article>
        <div class="about__modal">
          <div class="backdrop is-hidden" about-data-modal>
      <div class="backdrop__modal modal">
        <button type="button" class="modal__modal-x modal-x" about-data-modal-close>
          <svg class="read-close__icon" width="30" height="30">
              <use href="/public/images/svg/icons.svg#icon-close"></use>
            </svg>
        </button>
        <article class="modal__article">
          <h5 class="article__title">How it's made? (only for curious kittens)</h5>
          <p class="article__intro">
            Welcome to the heart of our ice cream creation. Discover the artistry, science, and passion that go into each delightful scoop.
          </p>
          <div class="article__main">
            <p>     Step into our ice cream laboratory, where the magic happens. We begin by carefully selecting the finest ingredients from trusted local farmers and suppliers who share our commitment to quality. Each vanilla bean is aged to perfection, intensifying its natural fragrance and complexity. Our team hand-picks ripe, juicy fruits for our sorbets, ensuring their vibrant flavors burst with every bite. 
            </p>

            <p>Back in the laboratory, our skilled artisans combine these exquisite ingredients using time-honored recipes and innovative techniques. Every batch is a delicate balance of flavors, meticulously crafted to achieve the perfect harmony. We embrace both classic and experimental flavors, offering a delightful array of choices to suit every palate. 
            </p>

            <p>    The process continues as we churn the mixture at precise temperatures, gradually incorporating air to create that irresistibly creamy texture. The freezing stage is equally critical, carefully controlled to ensure optimal crystallization and preservation of flavors.
            </p>

            <p>   But we don't stop there. Our team of inventors and flavor scientists constantly push the boundaries of ice cream creation. Through unique infusion processes, we unlock new depths of taste, infusing flavors directly into the ice cream base for a robust and multidimensional experience.
            </p>

            <p>      For those seeking an unforgettable spectacle, we harness the power of liquid nitrogen in some of our creations. Watch in awe as the liquid nitrogen evaporates, enveloping the laboratory in a mesmerizing fog. The result? Ice cream with an exceptionally smooth and velvety texture that is sure to delight.
            </p>

          </div>
          <p class="article__main article__main--modal">Indulge in the extraordinary. Treat yourself to our edible masterpiece.</p></article>
        <h5 class="article__title article__title--subtitle">Do you know that...?</h5>
        <ul class="article__list">
          <li class="article__item">We age our vanilla beans to enhance their natural fragrance and complexity.</li>
          <li class="article__item">Each fruit used in our sorbets is hand-selected at peak ripeness for optimal flavor.</li>
          <li class="article__item">Our unique infusion process infuses flavors directly into the ice cream base for a robust taste experience.</li>
          <li class="article__item">We incorporate liquid nitrogen in some of our creations, creating a dramatic fog-filled spectacle that results in an exceptionally creamy texture.</li>
        </ul>
        <div>
         <h5 class="article__title article__title--subtitle">Something to win...</h5> 
         <label class="textarea__item">
              <span class="textarea__title">What kind of situation do you associate the taste of chocolate ice cream with?</span>
              <textarea
                name="comment"
                rows="5"
                placeholder="Write your story"
                class="textarea__input"
              ></textarea>
            </label>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
