<section id="advantages" class="advantages">
  <h2 class="advantages__hidden-title">Our advantages</h2>
  <div class="container">
    <ul class="advantages__list">
      <li class="advantages__item1 box">
        <p class="advantages__numbers">721</p>
        <p class="advantages__content">
          Pints of Rich, Creamy Milk Used for Each Batch
        </p>
      </li>
      <li class="advantages__item2 box ">
        <p class="advantages__numbers">16kg</p>
        <p class="advantages__content">
          Handpicked, Locally Sourced Fruits in Every Batch.
        </p>
      </li>
      <li class="advantages__item3 box ">
        <p class="advantages__numbers">84</p>
        <p class="advantages__content">
          Lovingly Crafted Heart-Shaped Ice Cream Treats Created Daily
        </p>
      </li>
    </ul>
  </div>
</section>
