<section class="contacts" id="contacts">
  <div class="container contacts__position">
    <h2 class="contacts__header">contacts</h2>
    <div class="contacts__cards">
      <!-- =============== CARD ONE  =============== -->
      <div class="contacts__card">
        <div class="contacts__container">
          <p class="contacts__spot contacts__spot--sand">CAFE</p>
          <div class="spot__place">
            <p class="spot__location">Chicago</p>
            <p class="spot__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <ul class="spot__availability">
            <li>
              <p class="spot__data">Monday - Friday</p>
              <p class="spot__time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="spot__data">Saturday - Sunday</p>
              <p class="spot__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <div class="spot__contacts">
            <a href="tel:+61383766284">+61(0) 383 766 284 </a>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </div>
      </div>
      <!-- =============== CARD TWO  =============== -->
      <div class="contacts__card">
        <div class="contacts__container">
          <p class="contacts__spot contacts__spot--green">FOOD TRUCK</p>
          <div class="spot__place">
            <p class="spot__location">Los Angeles</p>
            <p class="spot__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <ul class="spot__availability">
            <li>
              <p class="spot__data">Monday - Friday</p>
              <p class="spot__time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="spot__data">Saturday - Sunday</p>
              <p class="spot__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <div class="spot__contacts">
            <a href="tel:+61383766284">+61(0) 383 766 284 </a>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </div>
      </div>
      <!-- =============== CARD THREE  =============== -->
      <div class="contacts__card">
        <div class="contacts__container">
          <p class="contacts__spot contacts__spot--sand">CAFE</p>
          <div class="spot__place">
            <p class="spot__location">New York</p>
            <p class="spot__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <ul class="spot__availability">
            <li>
              <p class="spot__data">Monday - Friday</p>
              <p class="spot__time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="spot__data">Saturday - Sunday</p>
              <p class="spot__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <div class="spot__contacts">
            <a href="tel:+61383766284">+61(0) 383 766 284 </a>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </div>
      </div>
    </div>
    <!-- =============== CONTACTS BUTTONS  =============== -->
    <ul class="contacts__buttons">
      <li>
        <button type="button" class="button button--accent button-width--accent">
          Our Locations<svg class="contacts__svg contacts__svg--white">
            <use href="images/svg/icons.svg#icon-chevron"></use>
          </svg>
        </button>
      </li>
      <li>
        <button type="button" class="button button--white button-width--white">
          Franchise
          <svg class="contacts__svg contacts__svg--accent">
            <use href="images/svg/icons.svg#icon-chevron"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
