<footer class="footer" id="footer">
  <div class="container">
    <ul class="footer-description">
      <li class="footer-description__item">
        <p class="footer-description__title">homade ice cream made</p>
      </li>
      <li class="footer-description__item">
        <p class="footer-description__title footer-description__title--main">with passion</p>
      </li>
    </ul>
    <ul class="footer-media">
      <li class="footer-media__item">
        <ul class="footer-link">
          <li class="footer-link__item">
            <a href="https://www.github.com" target="_blank" class="footer-link__reference">
              <svg class="footer-link__icon" width="34" height="34">
                <use href="./images/svg/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer-link__item">
            <a href="https://www.telegram.com" target="_blank" class="footer-link__reference">
              <svg class="footer-link__icon" width="34" height="34">
                <use href="./images/svg/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-link__item">
            <a href="https://www.facebook.com" target="_blank" class="footer-link__reference">
              <svg class="footer-link__icon" width="34" height="34">
                <use href="./images/svg/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="footer-media__item">
        Feel free to contact
        <a class="footer-media__phone" href="tel:610383766284"> +61 (0) 383 766 284</a>
      </li>
    </ul>
    <address class="footer-adress">
      <p class="footer-adress__description">&#169; 2019 - IceCream. All Rights Reserved.</p>
    </address>
  </div>
</footer>
