<section class="products" id="products">
    <div class="container products__position">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
        <a href="">
        <li class="products__item products__item--icecream">
            <h3 class="products__name">ice cream</h3>
            <p class="products__description">Immerse yourself in a symphony of flavors with our handcrafted ice cream. Each scoop is meticulously crafted using the finest ingredients and secret recipes passed down through generations.</p>
            <button class="products__button"><svg class="products__icon">
                <use href="/public/images/svg/icons.svg#icon-arrow"></use>
            </svg></button>   
        </li>
    </a> 
    <a href="">
        <li class="products__item products__item--icecoffee">
            <h3 class="products__name">ice coffee</h3>
            <p class="products__description"> Quench your thirst and revitalize your taste buds with our signature ice coffee. Made from premium beans sourced from exotic plantations, it's brewed to perfection and blended with a hint of magic to awaken your senses.</p>
            <button class="products__button"><svg class="products__icon">
                <use href="/public/images/svg/icons.svg#icon-arrow"></use>
            </svg></button>  
        </li>
        </a>
        <a href="">
        <li class="products__item products__item--milkshakes">
            <h3 class="products__name">milkshakes</h3>
            <p class="products__description">Indulge in a velvety milkshake experience that will transport you to a world of creamy bliss. Our milkshakes are crafted using a top-secret technique that ensures a perfect balance of flavors and an irresistible, silky-smooth texture.</p>
            <button class="products__button"><svg class="products__icon">
                <use href="/public/images/svg/icons.svg#icon-arrow"></use>
            </svg></button> 
        </li>
        </a>
    </ul>
    </div>
</section>
