<section class="products" id="products">
    <div class="container products__position">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
        <li class="products__item products__item--icecream">
            <h3 class="products__name">ice cream</h3>
            <svg class="products--svg"><use href="images/svg/icons.svg#icon-smalldot"></use></svg>
            <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
            <button class="products__button button--white"><svg class="products__icon">
                <use href="images/svg/icons.svg#icon-arrow"></use>
            </svg></button>    
        </li>
        <li class="products__item products__item--icecoffee">
            <h3 class="products__name">ice coffee</h3>
            <svg class="products--svg"><use href="images/svg/icons.svg#icon-smalldot"></use></svg>
            <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
            <button class="products__button button--white"><svg class="products__icon">
                <use href="images/svg/icons.svg#icon-arrow"></use>
            </svg></button>  
        </li>
        <li class="products__item products__item--milkshakes">
            <h3 class="products__name">milkshakes</h3>
            <svg class="products--svg"><use href="images/svg/icons.svg#icon-smalldot"></use></svg>
            <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
            <button class="products__button button--white"><svg class="products__icon">
                <use href="images/svg/icons.svg#icon-arrow"></use>
            </svg></button> 
        </li>
    </ul>
    </div>
</section>
