<section class="reviews container" id="reviews">
  <div class="reviews__slide">
    <ul class="reviews__slide__track">

    <li class="reviews__slide__item">

      <img
        class="reviews__slide__item__image"
        src="../src/images/reviews/customer1.png"
        srcset="../src/images/reviews/customer1@2x.png 2x"
      />

      <div class="reviews__slide__item__content">
        <p class="reviews__slide__item__content__comment">
          The IceCream Shop never fails to amaze me with their heavenly creations. Each scoop is like a burst of joy in my mouth!
        </p>
      </div>

    </li>
    <li class="reviews__slide__item">
      
      <img
        class="reviews__slide__item__image"
        src="../src/images/reviews/customer2.png"
        srcset="../src/images/reviews/customer2@2x.png 2x"
      />

      <div class="reviews__slide__item__content">
        <p class="reviews__slide__item__content__comment">
          I'm constantly impressed by the incredible flavors and textures at the IceCream Shop. It's a true paradise for ice cream enthusiasts like me!
        </p>
      </div>

    </li>
    <li class="reviews__slide__item">
      
      <img
        class="reviews__slide__item__image"
        src="../src/images/reviews/customer3.png"
        srcset="../src/images/reviews/customer3@2x.png 2x"
      />

      <div class="reviews__slide__item__content">
        <p class="reviews__slide__item__content__comment">
          The quality and attention to detail at the IceCream Shop are unmatched. Every visit leaves me with a smile and a happy belly!
        </p>
      </div>

    </li>

  </ul>
  <div class="reviews__slide__nav">
    <div class="reviews__slide__nav__dots">
      <svg class="icon icon--3elipse">
        <use href="/images/svg/sprite.svg#icon-dot"></use>
      </svg>
    </div>
    <p class="reviews__slide__nav__person">Emily, &nbspLos Angeles</p>
    <ul class="reviews__slide__nav__indicator">
      <li
        class="reviews__slide__nav__indicator__item reviews__slide__nav__indicator__item--active"
      >
        <svg class="icon icon--home"><use href="/images/svg/sprite.svg#icon-home"></use></svg>
      </li>
      <li class="reviews__slide__nav__indicator__item">
        <svg class="icon icon--elipse">
          <use href="/images/svg/sprite.svg#icon-ellipse"></use>
        </svg>
      </li>
      <li class="reviews__slide__nav__indicator__item">
        <svg class="icon icon--elipse2">
          <use href="/images/svg/sprite.svg#icon-ellipse"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
