<section class="reviews container" id="reviews">
  <div class="reviews__slide">
    <div class="reviews__slide__item">
      <img
        class="reviews__slide__item__image"
        src="../src/images/reviews/customer1.png"
        srcset="../src/images/reviews/customer1@2x.png 2x"
      />
      <div class="reviews__slide__item__content">
        <p class="reviews__slide__item__content__comment">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
    </div>
    <div class="reviews__slide__nav">
      <div class="reviews__slide__nav__dots">
        <svg class="icon icon--3elipse">
          <use href="/images/svg/sprite.svg#icon-smalldot"></use>
        </svg>
      </div>
      <p class="reviews__slide__nav__person">Emily, Los Angeles</p>
      <ul class="reviews__slide__nav__indicator">
        <li class="reviews_slide__nav__indicator__item reviews_slide__nav__indicator__item--active">
          <svg class="icon icon--home"><use href="/images/svg/sprite.svg#icon-home"></use></svg>
        </li>
        <li class="reviews_slide__nav__indicator__item">
          <svg class="icon icon--elipse">
            <use href="/images/svg/sprite.svg#icon-ellipse"></use>
          </svg>
        </li>
        <li class="reviews_slide__nav__indicator__item">
          <svg class="icon icon--elipse">
            <use href="/images/svg/sprite.svg#icon-ellipse"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
